[Desktop Entry]
Encoding=UTF-8
Name=Link to How To Fix Disabled Edit Option In Shutter in Ubuntu 18.04 & Mint 19 - It's FOSS
Type=Link
URL=https://itsfoss.com/shutter-edit-button-disabled/
Icon=text-html
